spring:
  datasource:
    ## 用户数据库
    user:
      url: jdbc:mysql://127.0.0.1:3306/yys_user?serverTimezone=GMT%2B8
      username: root
      password: root
      borrowConnectionTimeout: 30
      loginTimeout: 30
      maintenanceInterval: 60
      maxIdleTime: 60
      maxLifetime: 20000
      maxPoolSize: 25
      minPoolSize: 3
      uniqueResourceName: userDataSource
      testQuery: select 1
    ## 订单数据库
    order:
      url: jdbc:mysql://127.0.0.1:3306/yys_order?serverTimezone=GMT%2B8
      username: root
      password: root
      borrowConnectionTimeout: 30
      loginTimeout: 30
      maintenanceInterval: 60
      maxIdleTime: 60
      maxLifeTime: 20000
      maxPoolSize: 25
      minPoolSize: 3
      uniqueResourceName: orderDataSource
      testQuery: select 1